
#listOfItems{
    display:block;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerstuff{
    width: 100%;
    background-color: darkolivegreen;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(66, 66, 66);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.headerstuff h1,
.headerstuff h2{
    margin-left: 5%;
}

.top{
    width:100%;
    text-align: center;
    padding-top: 10px;
}

.top h3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

ul{
    padding-left:0 ;
    text-align: center;
}



/*
the class "complete" should be added to list items that are completed. It has different properties from the rest of the items.
*/

.complete{
    text-decoration:line-through;
}


/*
The class "incomplete should be added to list items automatically just as a reference to see if things are already selected
*/

button{
    background-color:beige;
}
button:hover{
    background-color: chartreuse;
}


@media screen and (max-device-width:600px) {
    .headerstuff h1{
        font-size: 70px;   
    }
    .top h3{
        font-size: 60px;
    }

}
