
#listOfItems{
    display:block;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerstuff{
    width: 100%;
    background-color: darkolivegreen;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(66, 66, 66);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.headerstuff h1,
.headerstuff h2{
    margin-left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top{
    width:100%;
    text-align: center;
    padding-top: 10px;
}

.top h3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    padding-left:0 ;
    text-align: center;
}



.true{
    text-decoration:line-through;
}


button{
    background-color:beige;
}
button:hover{
    background-color: chartreuse;
}

@media screen and (max-device-width:720px) {
    .headerstuff h1{
        font-size: 50px;   
    }
    .top h3{
        font-size: 40px;
    }

}
