
#newItem{
    text-align: center;
    margin-left: 15%;
    margin-right: auto;
    float: clear;
}
#newItem h4{
    float: left;
    margin-left: 10%;
    font-size: medium;
}
#submitNewItem{
    float:right;
    margin-right: -28px;
    margin-top:7px ;
}
#newItemEnter{
    width: 75%;
}

@media screen and (max-device-width:720px) {

    #newItemEnter{
        width: 55%;
        margin-left: 10%;
    }
    

    #newItem button{
        font-size: 30px;

        border-radius: 15%;
    }
    #newItem{
        font-size: 20pt;
    }
}